.none {
    display: none;
}

.my-card-body {
    height: calc(100vh - (55px + 48px));
    overflow: scroll;
}

.search-box {
    height: calc(55vh - (55px + 48px));
}

.tags-box {
    height: calc(52vh - (55px + 48px));
}

.scroll {
    overflow: scroll;
}

.h-60px {
    height: 60px;
}

.h-80px {
    height: 80px;
}

.h-100px {
    height: 100px;
}

.h-160px {
    height: 160px;
}

.h-220px {
    height: 220px;
}

.h-220px {
    height: 220px;
}

.w-30px {
    min-width: 80px;
}
.delete {
    font-size: 14px;
    padding: 0;
    border-style: none;
}

.fix-width {
    width: 99%;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.image-space {
    height: 300px;
    width: 300px;
    background-color: whitesmoke;
    margin: auto;
}

.icon {
    font-size: 34px;
    padding-bottom: 0px;
}

@media screen and (max-width:760px) {
    .my-card-body {
        height: auto;
        max-height: 50vh;
    }
}
