.my-card-body {
    height: calc(100vh - (55px + 48px));
    overflow: scroll;
}

.card-body-genre {
    height: calc(35vh - (55px + 48px));
    overflow: scroll;
}

.card-body-tags {
    height: calc(72vh - (55px + 48px));
    overflow: scroll;
}

.scroll-overflow-create {
    overflow: scroll;
    max-height: 160px;
}


.scroll-overflow-tag {
    overflow: scroll;
    height: 80px;
}

.scroll-overflow-read {
    overflow: scroll;
    height: 200px;
}

.delete {
    font-size: 14px;
    padding: 0;
    border-style: none;
}

.fix-width {
    width: 99%;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (max-width:760px) {
    .my-card-body {
        height: auto;
        max-height: 50vh;
    }
}
